* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;

  -webkit-box-ordinal-group: 1; /* iOS 6-, Safari, Opera*/
  -moz-box-ordinal-group: 1; /* Firefox*/
  -ms-flex-order: 1; /* IE 10 */
  -webkit-order: 1; /* Chrome */
  flex-order: 1;
}

body {
  background-color: skyblue;
}

.header {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  /* this float was bringing the entire header box to the left */
  /* float: left; */
  display: inline-flexbox;
  background-color: rgb(31, 114, 190);
  color: #ffffff;
  /* background-image: url("images/BuiltToLast.jpg"); */
}

.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* the section below controls the navigation bar at the top of the webpage */

nav {
  display: inline-block;

  margin: 0 auto;
}

nav ul li {
  list-style-type: none;
  margin: 0 auto;
  padding: 20px;
}

li {
  display: inline-flex;
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 20px 18px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: tan;
  color: slategray;
}

/* start of navigation bar with background photo */

/* .background-image {
  background-image: url(climbmountains.jpg);
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  position: absolute;
  margin: 10px;
  width: auto;
  float: right;
}

.top_nav {
  overflow: hidden;
  background-color: skyblue;
}

.top_nav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.top_nav a:hover {
  background-color: tan;
  color: slategray;
}

.header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.header nav div {
  list-style-type: none;
}

.header nav div {
  /* display: inline-block; */
/* margin-left: 25px;
} */

/* end of navigation section with backgroun photo */

a {
  color: #ffffff;
  text-decoration: none;
}

p {
  font-size: 16px;
}

/* about me sedtion styling */

#about-me {
  width: 220px;
  padding: 10px;
  border: 5p;
  margin: auto;
  background-color: tan;
}

.about-me {
  padding-top: 15px;

  margin: 0;
  margin-block-end: auto;
  background-color: tan;
}

/* my work section styling */

.my-work {
  display: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.maincard {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 15px;
  border: 10px;
  border-style: solid;
  margin: 0;
  background-color: tan;

  float: center;
}

.card {
  margin: 0;
  border: 10px;
  border-style: solid;
  background-color: tan;
}

/* contact me section styling */

/* .contact-me {}
   /* {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }
} */
*/


/* makes for ipad */

@media screen and (max-width: 1024px) {
  main {
    flex-direction: column;
  }
}
/* for desktop */

@media screen and (max-width: 768px) {
  .maincard {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .card {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* makes for iphone x */
@media screen and (max-width: 812px) {
  main {
    flex-direction: column;
  }
}
